.projects {
	&__header {
		width: 100%;
	}

	&__card {
		position: relative;
		width: 442px;
		height: 525px;

		margin-bottom: 50px;
		background-color: #ccc;
		overflow: hidden;

		img {
			position: relative;
			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
			
			filter: brightness(60%);

			transition: .3s;
		}

		&-info {
			position: absolute;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: row;
			
			height: 80px;

		}

		&-text {
			min-width: 100%;
			padding: 15px 100px 15px 20px;
			background-color: #fff;

			margin-left: 100%;
			transition: .5s;
		}

		&-title {
			margin: 0;
			margin-bottom: 6px;
		}

		&-subtitle {
			margin: 0;
			font-size: 18px;
			color: rgba($darkGrey, 0.5);
		}

		&-link {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			width: 80px;
			height: 80px;
			background-color: $mainColor;
			background-image: url('../img/icons/arrow-right.png');
			background-repeat: no-repeat;
			background-position: center center;

			background-color: #f4f4f4;
			transition: .5s;
		}

		&:hover {
			img {
				filter: brightness(90%)
			}

			.projects__card {
				&-text {
					margin-left: 0;
					transition: .5s;
				}

				&-link {
					background-color: $mainColor;
					transition: .5s;
				}
			}
		}
	}

	&__fs {
		margin-top: -50px;
		&-project {
			position: relative;
			width: 100%;
			max-width: 1240px;
			height: calc(100vw / 1.7);
			max-height: 735px;
			
			margin: 0 auto;
			
			background-color: #ccc;
			
			overflow: hidden;

			img {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
				z-index: 0;
			}
		}

		&-info {
			width: auto;
		}

		&-text {
			margin-left: 0;
		}

		&-link {
			background-color: $mainColor;
		}
	}

	&__filters {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&-title {
			font-weight: bold;
			margin-right: 80px;

			&--mobile {
				display: none;
			}
		}

		&-item {
			position: relative;
			padding-right: 22px;
			margin-right: 50px;

			&::after {
				content: "";
				position: absolute;
				top: 5px;
				right: 0;
				width: 10px;
				height: 10px;

				background-image: url('../svg/next.svg');
				fill: $darkGrey;
			}
		}

		&-year {
			min-width: 324px;
			ul {
				border-bottom: 1px solid rgba($darkGrey, 0.3);

				li {
					display: inline-block;
				}
			}

			&__link {
				position: relative;
				display: inline-block;
				padding: 7px 25px;

				&.active::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 3px;
					bottom:-2px;
					left: 0;

					background-color: $mainColor;
				}
			}
		}

		&--mobile {
			display: none;
			position: relative;
			// display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;

			overflow: hidden;

			label {
				position: relative;
				cursor: pointer;
				display: inline-block;
				background-color: #fff;
				padding: 20px 25px;
				margin-bottom: 10px;
				z-index: 1;
				
				&:after {
					content: "";
					position: absolute;
					top: 25px;
					left: 83px;

					width: 9px;
					height: 9px;

					background: url(../svg/next.svg) no-repeat center center;
					transition: .3s;
				}
			}

			ul {
				// position: absolute;
				display: inline-block;
				padding-bottom: 10px;
				margin-top: -40px;
				width: 100%;
				max-height: 0;
				transition: all 0.3s;

				z-index: -1;
			}

			ul li {
				border-bottom: 1px solid $lightGrey;

				a {
					display: block;
					padding: 20px 25px;
					&:hover {
						background-color: rgba($lightGrey, .5);
						cursor: pointer;
					}
				}
			}
			
			input[type=checkbox] {
				display: none;
			}

			input[type=checkbox]:checked {
				~ label {
					background-color: $lightGrey;

					&:after {
						transform: rotate(90deg);
					}
				}

				~ ul {
					
					max-height: 300px;
					margin-top: -10px;
					z-index: 1;
					transition: all .3s;
				}
			}
		}
	}

	&__catalog {
		&-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			padding: 50px 25px 0;	
		}
		

		#more-projects {
			display: none;
		}
		&-more {
			display: none;
			background-color: $mainColor;
			margin: 0 auto;
		}
	}

	&__pagination {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&-item {
			display: inline-block;
			font-weight: bold;
		}

		&-link {
			display: inline-block;
			padding: 10px 15px;
			font-size: 18px;
			color: rgba($darkGrey, 0.3);
			&--active {
				color: rgba($darkGrey, 1);

			}

			&:hover {
				color: rgba($darkGrey, 1);
			}
		}

		&-prev,
		&-next {
			display: inline-block;
			width: 30px;
			height: 17px;
			background-position: center center;
			background-repeat: no-repeat;
			&:hover {
				opacity: 1;
			}
		}

		&-prev {
			background-image: url('../img/icons/arrow-left.png');
			opacity: 0.5;
		}

		&-next {
			background-image: url('../img/icons/arrow-right.png');
		}
	}
}

@media only screen and (max-width: 1050px) {
	.projects {
		&__card {
			width: 40vw;
			min-width: 300px; 
			max-width: 442px;
			height: calc(40vw * 1.187);
		}
	}
}

@media only screen and (max-width: 767px) {

	.projects {
		&__catalog {
			padding-top: 0;

			.content {
				padding: 0;
			}
		}
		&__card {
			min-width: 280px; 
		}

		&__filters {
			display: none;

			&--mobile {
				display: flex;
			}
		}
	}
}

@media only screen and (max-width: 625px) {
	.projects {
		&__catalog {
			&-list {
				padding: 50px 0 0;
			}
		}
	}
}

@media only screen and (max-width: 570px) {
	.projects {
		&__card {
			width: 100%;
			max-width: 100vw;
			height: calc(100vw * 1.484);
			max-height: 500px;

			&:nth-child(n+4) {
				display: none;
			}

			img {
				filter: brightness(90%)
			}

			&-info {
				width: 100%;
			}
	
			&-text {
				width: 100%;
				margin-left: 0;
			}

			&-link {
				background-color: $mainColor;
			}
		}

		&__fs {
			&-project {
				height: calc(100vw * 1.2);
			}
			&-info {
				width: 100%;
			}
		}

		&__catalog {
			

			&-more {
				display: inline-block;
			}
		}
		
		&__pagination {
			display: none;
		}
	}
}